* {
    background-color: gray;
}

.App-title {
    background-color: #222;
}

.card {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
}

.text {
    overflow-wrap: break-word;
    text-align: center;
    margin: 10px;
}
