* {
    background-color: gray;
}

.App-title {
    background-color: #222;
}

.card {
    vertical-align: top;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
    border: #222 solid;
}

.text {
    overflow-wrap: break-word;
    text-align: center;
    margin: 10px;
}
